/* === CSS General Design === */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: purple;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

p,
span {
    letter-spacing: 0.1rem;
}

/* === Button === */
button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

button:is(:active) {
    transform: scale(0.9);
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

/* === Canvas Game ===*/
.game__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.main-title {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-game {
    font-size: 3rem;
    font-weight: bold;
    color: #f2f2f2;
}

/* === === CANVAS === == */
canvas {
    border: 8px solid #000;
    background-color: #feff9d;
    /* padding: 1rem; */
    border-radius: .5rem;
}

/* === Message === */
.div-Message {
    margin: 1rem auto;
    width: 50%;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.message {
    font-size: 2rem;
    font-weight: 700;
    color: #f2f2f2;
}

.span-message {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
}